[submodule "0x18-stacks_queues_lifo_fifo"]
	path = 0x18-stacks_queues_lifo_fifo
	url = git@github.com:narnat/monty.git
[submodule "0x1D-binary_trees"]
	path = 0x1D-binary_trees
	url = git@github.com:graefft/binary_tree.git
